.rents-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../img/vehicle-list-car.jpg);
  background-size: cover;

  .form-vehicle {
    margin: 20px;
    background-color: rgb(191, 215, 241);
  }
}
