.userForm-wrapper {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  background-image: url(../../../img/pexels-fwstudio-129731.jpg);

  form {
    border: 2px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(156, 192, 228);
  }
}
