.vehicles-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../../../img/vehicle-list-car.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
